# Virtual Environment
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Instance folder (for Flask)
instance/

# Databases
*.sqlite3
*.db

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
